#page-title{
    background-color: blue;
    padding: 10px;
}
#page-sub-title{
    background-color: tomato;
    padding: 10px;
}
.title{
    padding: 10px;
    color: white;
}
h1{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}