@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,700&display=swap');

.save-icon{
    font-size: 40px;
    color: black;
    border-radius: 50%;
    padding: 15px;
    background-color: yellow;
}
.edit-icon{
    font-size: 40px;
    color: black;
    
}
